html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #50884b
}

#login-form-container,
#register-form-container {
    box-shadow: #000000 5px 5px 15px, black -5px -5px 25px;
    margin-top: 13vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: #f5f5f5;
    border-radius: 30px;
    flex-direction: column;
    width: 500px;
}

#login-form,
#register-form {
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

#login-form input,
#register-form input {
    font-size: 14px;
    margin: 10px auto 20px;
    height: 35px;
    width: 250px;
    border-color: #2f4858;
    border-width: 1px;
    border-radius: 10px;
}

#login-form label,
#register-form label {
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    left: calc(250px / 2)
}

#login-form input[type="submit"]
#register-form input[type="submit"] {
    margin-top: 30px;
    font-size: 16px;
    background-color: #c9c3c3
}

#login-form input[type="submit"]:hover,
#register-form input[type="submit"]:hover {
    cursor: pointer;
    background-color: #c78858;
    transition: 0.2s;
}

.disabled {
    pointer-events: none;
}

.register-login-box {
    display: flex;
    justify-content: center;
    margin-top: 50px
}

#loading {
    margin: auto;
}

.register-login-box p {
    font-family: sans-serif;
    margin: auto;
    position: absolute;
}

.register-login-button {
    font-family: sans-serif;
    color: #000000;
    text-decoration: none;
    display: block;
    position: relative;
    top: 30px;
    border-width: 3px;
    border-color: black;
    border-radius: 25px;
    border-style: solid;
    padding: 15px 25px;
}

.register-login-button:hover {
    color: #f5f5f5;
    background-color: #000000;
    transition: 0.2s;
}

#message-info-box {
    position: absolute;
    background-color: #f5f5f5;
    border-color: #000000;
    border-style: solid;
    border-radius: 25px;
    left: calc(50% - 1000px / 2);
    top: 10vh;
    height: 500px;
    width: 1000px;
    z-index: 1;
}

#message-info-box .message {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    font-family: sans-serif;
    font-size: 18px;
}

#message-info-box .confirm-button {
    position: absolute;
    padding: 20px 35px;
    bottom: 0;
    margin-bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 18px;
    font-family: sans-serif;
    color: #000000;
    background-color: #e9e9ed;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    text-decoration: none;
}

#message-info-box .confirm-button:hover {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    transition: 0.2s;
}

#message-info-box .activate-button {
    top: 200px;
    padding-bottom: 60px;
}

#message-info-box #loading-activation {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 315px;
}

.form-info {
    margin: auto;
    color: #f10b36
}