<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
</head>
<body>
<div id="login-form">
    <form th:action="@{/login}" method="POST">
        <div th:if="${param.badCredentials}">
            Invalid username or password
        </div>
        <div th:if="${param.notActivated}">
            Account not activated
        </div>
        <div th:if="${param.registerSuccessful}">
            Your account has been created successfully. Activate your account with link sent to your email and login
            here.
        </div>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Log in">
    </form>
</div>
<button class="register-button" th:hx-get="|@{/register}|" hx-target="#login-form" hx-trigger="click once"
        th:_="|on click remove me|">
    Register
</button>
</body>
</html>